.no-padder {
    padding: 0 !important;
}
.field-group label {
    font-weight: bold;
}

.image-profile {
    width: 160px;
}

.highlight {
    background-color:#FF0;
}

.service-item {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.service-attribute {
    font-weight: bold;
    font-size: 18px;
}